.todo {
  font-weight: 700;
  display: flex;
  max-width: 670px;
  width: 70vw;
  background-color: #93ffc1;
  margin: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 0.5em !important;
  border: 1px solid #ffc9ff;
  transition: 0.2s all ease-in-out;
}

.todo:hover {
  background-color: rgba(147, 255, 193, 0.5);
}

.todo button {
  font-weight: 900;
  width: 8%;
  min-width: 48px;
  margin: 0;
  box-shadow: none;
}

.todo button:hover {
  background-color: red;
}

.todo p {
  width: 92%;
  text-align: left;
}

.done {
  text-decoration: line-through;
  color: red;
}
